.round {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  // background-color: #fff;
  border-bottom: 1px solid $text_color_barred;

  padding: 0.75rem;

  // color: $text_color;
}

.circle-button {
  position: relative;
  border-radius: 50%;
  border: 1px solid $text_color_barred;

  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: center;

}

.circle-button--hover{
  &:hover{
    background-image: linear-gradient($check_background);

    &::before{
      content: '';
      position: absolute;
      inset: 0.5px;

      border-radius: 50%;
    }
  }
}
